body {
  background: url(/images/main-bg.jpg) top left/ cover;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
ul {

  text-align: center;
}
ul li {
  display: inline-block;
  margin: 40px 20px;
}
ul li a {
  font-size: 1.2rem;
  color: #e8e2e2;
  text-shadow: 1px 1px 5px #000;
  transition: 0.3s;
}
ul li a:hover {
  color: aqua;
}
main {
  text-align: center;
  height: 90vh ;
}
h1 {
  color: #fff;
  font-size: 5rem;
  text-shadow: 1px 1px 5px #000;
  padding-top: 10rem;
}
h4 {
    color: #e8e2e2;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px #000;
    padding-top: 4rem;
}
footer{
    height: 2rem;
    color: #fff;
    text-align: center;
}

@media only screen and (min-width: 768px) {
  h1{
    font-size: 7rem
  }
  ul li a {
    font-size: 1.5rem;
  }
}
